* {
  font-family: $font--text;
  color: $color--text;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  letter-spacing: 1px;
  line-height: 2;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  position: relative;
  padding-left: $padding--standard;
  list-style-type: none;

  &:after {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $color--main;

    .section--secondary & {
      background-color: $color--secondary;
    }
  }

  .header &,
  .footer & {

    padding-left: 0;

    &:after {
      content: none;
    }
  }
}

h2, h3, h4, h5, h6 {
  font-family: $font--main;
  text-transform: uppercase;
  letter-spacing: $letter--spacing;

  * {
    font-family: $font--main;
  }
}

h2 {
  margin: 0;
  font-size: 5rem;
}

p {
  margin-top: 0;
  margin-bottom: $margin--standard;
}

svg {
  color: inherit;

  * {
    color: inherit;
  }
}

.fa {
  color: #fff;
}

.bold {
  font-weight: bold;
}

blockquote {
  position: relative;
  margin: 0 0 $margin--standard;
  padding: 0 $padding--standard * 3 $padding--standard;
  font-size: 2.5rem;
  font-style: italic;
  font-weight: 600;
  font-family: $font--special;
  line-height: 1.5;

  @include media("<phone") {
    padding: 0 0 $padding--standard;
  }

  &:before,
  &:after {
    position: absolute;
    color: #d8d8d8;
    font-size: 10rem;
    font-weight: normal;
    font-style: normal;

    @include media("<phone") {
      display: none;
    }
  }

  &:before {
    top: - 2 * $padding--standard;
    left: 0;
    content: '“';
  }

  &:after {
    bottom: - 3 * $padding--standard;
    right: 0;
    content: '”';
  }
}

a {
  display: inline-block;
  position: relative;
  text-decoration: none;

  &:before,
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: $color--main;

  }

  &:after {
    width: 0;
    left: 0;
  }

  &:hover {
    &:before {
      width: 0;
      transition: width $duration $ease;
    }

    &:after {
      width: 100%;
      transition: width $duration $ease $duration;
    }
  }
}