* {
  font-family: $font--text;
  color: $color--text;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  letter-spacing: 1px;
  line-height: 2;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  position: relative;
  padding-left: $padding--standard;
  list-style-type: none;

  &:after {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $color--main;

    .section--secondary & {
      background-color: $color--secondary;
    }
  }

  .header &,
  .footer & {

    padding-left: 0;

    &:after {
      content: none;
    }
  }
}

h2, h3, h4, h5, h6 {
  font-family: $font--main;
  text-transform: uppercase;
  letter-spacing: $letter--spacing;
  line-height: 1;

  * {
    font-family: $font--main;
  }
}

h2 {
  margin: 0;
  font-size: 5rem;
}

p {
  margin-top: 0;
  margin-bottom: $margin--standard;
}

svg {
  color: inherit;

  * {
    color: inherit;
  }
}

.fa {
  color: #fff;
}

.bold {
  font-weight: bold;
}

blockquote {
  position: relative;
  margin: 0 0 $margin--standard;
  padding: 0 $padding--standard $padding--standard;
  font-size: 3rem;
  font-style: italic;
  font-family: $font--main;
  line-height: 1.5;

  &:before,
  &:after {
    position: absolute;
    color: #d8d8d8;
    font-size: 10rem;
  }

  &:before {
    top: - 3 * $padding--standard;
    left: - 2 * $padding--standard;
    content: '«';
  }

  &:after {
    bottom: - $padding--standard;
    right: - $padding--standard;
    content: '»';
  }
}