$color--text: #000000;

$color--main: #000000;
$color--secondary: #32BFB5;

$color--light: #f9f9f9;
$color--extra-light: #fff;

$color--error: #ff5453;
$color--validate: $color--secondary;

$gradient--main: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0))