.button {
  position: relative;
  padding: $padding--standard;
  margin: $margin--standard / 2 auto;
  display: inline-block;
  font-size: 1.2rem;
  font-family: $font--main;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: $letter--spacing;
  font-weight: bold;
  transition: color $duration $ease;

  @include media("<tablet") {
    padding: $padding--standard / 2;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: $padding--standard;
    width: calc(100% - 2 * #{$padding--standard});
    height: $border--standard;
    background-color: $color--text;
    transition: width $duration $ease, color $duration $ease;

    @include media("<tablet") {
      left: $padding--standard / 2;
      width: calc(100% - #{$padding--standard});
    }
  }
}

button {
  outline: 0;
  cursor: pointer;
  background: transparent;
  border: none;
}