.form {
  width: 100%;

  &__notif {
    font-size: 4rem;
    font-family: $font--special;
  }
}

input[type="text"],
input[type="email"],
textarea {
  position: relative;
  outline: 0;
  padding: $padding--standard / 2;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid $color--light;
  background: #fff;
  transition: border $duration $ease;
  font-family: $font--special;
  font-size: 4rem;

  &:hover,
  &:active {
    border-color: $color--main;
  }
}

input[type="submit"] {
  display: block;
  margin: 0 auto;
}